@import wheelhouse

#blog-posts
  +orange-table
  
.blog-timestamp
  text-align: center
  min-width: 10em

td.blog-timestamp
  padding: 6px 12px

  .draft
    color: #999
    text-transform: uppercase
    font-size: 90%

  small
    display: block
    font-size: 90%
    
#blog-categories
  +clearfix
  
  label
    font-weight: normal
    color: lighten(#4e6573, 10%)
  
  li
    margin-top: 0
    margin-bottom: 3px

.posts-per-page
  label
    width: 40%
    line-height: 2.5
  
  input[type="text"]
    width: 4em
    float: left

p.posted-by
  font-weight: bold

.post-status
  font-size: 80%
  text-transform: uppercase
  padding: 4px 8px
  +border-radius(8px)
  
  &.approved
    background: #d9efd5
    color: #267f23
  
    &:hover
      background: darken(#d9efd5, 3%)
  
  &.pending
    background: #caddef
    color: #3c617f
    
    &:hover
      background: lighten(#caddef, 3%)
