- title [@archive.format, @blog.title].join(' - ')
- breadcrumb @archive.format

= render :layout => "layout", :locals => { :description => "Posts from: #{@archive.format}" } do
  = render :partial => "post", :collection => @posts
