- title [format_month(@year, @month), @blog.title].join(' - ')
- breadcrumb format_month(@year, @month)

= render :layout => "layout", :locals => { :description => "Posts from: #{format_month(@year, @month)}" } do
  = render :partial => "post", :collection => @posts
