- title @blog.title
- breadcrumb params[:category]

= render :layout => "layout", :locals => { :title => @blog.title, :description => "Posts in category: #{params[:category]}" } do
  = render :partial => "post", :collection => @posts
