- template.name = "Default Blog"
- template.resource = Blog::Blog
- title @blog.title

= render :layout => "layout", :locals => { :title => @blog.title } do
  = render :partial => "post", :collection => @blog.posts
