- template.name = "Blog Post"
- template.resource = Blog::Post
- breadcrumb @post.title
- title @post.title

= render :partial => "post", :object => @post, :layout => "layout", :locals => { :title => @blog.title }
