- template.name = "Blog Post"
- template.resource = Blog::Post
- title [@post.title, @blog.title].join(' - ')
- breadcrumb @post.title

= render :partial => "post", :object => @post, :layout => "layout"
