- title @blog.title
- breadcrumb "Tag: #{params[:tag]}"

= render :layout => "layout", :locals => { :title => @blog.title, :description => "Posts tagged with #{params[:tag]}" } do
  = render :partial => "post", :collection => @posts
